services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-network
    volumes:
      - ..:/workspaces:cached
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /data/plant-rl:/data:cached
    command: sleep infinity
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu


  grounding-dino:
    build:
      context: api/grounding_dino
      dockerfile: Dockerfile
    networks:
      - plant-network
    privileged: true
    restart: unless-stopped
    volumes:
      - ./api/grounding_dino:/app
      - ~/.cache:/root/.cache:cached
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  segment-anything:
    build:
      context: api/segment_anything
      dockerfile: Dockerfile
    networks:
      - plant-network
    privileged: true
    restart: unless-stopped
    volumes:
      - ./api/segment_anything:/app
      - ~/.cache:/root/.cache:cached
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

networks:
  plant-network:
    name: plant-network
